.coverDiv {
    position: relative;
    width: 100%;
    height: 100vh;

}

.coverDiv1 {
    position: relative;
    width: 100%;
    height: 70vh;

}

.WelcomePage {
    /* background-color: #fff; */
    padding: 20px 10px;

}

.take2 {
    color: #fff
}

.WPI {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.WPI2 {
    font-size: 40px; 
     font-weight: 700; 
    text-align: center; 
    color: #ffffff; 
     width: 100%; 
     max-width: 56%; 
     margin: 0 auto 5px auto;

    /* width: 100%;
        animation: typing 2s steps(50), blink .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        font-family: monospace;
        font-size: 12px;
        text-overflow: clip; */
}

.youFirst {
    padding: 30px 10px 100px 10px;
}

.WPI21 {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-top: 0px;
    color: #c1c5c3;
}

.WPI22 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 0.9;
    font-family: sans-serif !important;
    margin-top: 10px;
    /* text-align: justify; */
}

.WPI23 {
    width: 100%;
    max-width: 120px;
    margin: 0 auto 15px auto;
    border-bottom: 2px solid #000;
}

.video {
    object-fit: cover;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: 2; */
}

.video1 {
    object-fit: cover;
    opacity: 0.9;
    width: 100%;
    height: 70%;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: 2; */
}

.heroShim {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    /* border-radius: 5px; */
    background: -moz-linear-gradient(top, transparent 0%, #000 100%);
    background: -webkit-linear-gradient(top, transparent 0%, #000 100%);
    background: linear-gradient(to bottom, transparent 0%, #000 100%);
    background: #000;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
    opacity: 0.5;
}

.heroShim1 {
    content: "";
    position: absolute;
    width: 100%;
    height: 70%;
    top: 0;

    left: 0;
    z-index: 3;
    /* border-radius: 5px; */
    background: -moz-linear-gradient(top, transparent 0%, #000 100%);
    background: -webkit-linear-gradient(top, transparent 0%, #000 100%);
    background: linear-gradient(to bottom, transparent 0%, #000 100%);
    background: #000;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
    opacity: 0.5;
}

.heroText {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    padding: 9px 10px;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 4;
}

.NewEvents {
    width: 150px;
    margin: 0 auto;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top: 2px solid green;
    position: relative;
    z-index: 30;
    /* border-radius: 8px; */
    /* border-bottom-left-radius: 8px; */
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-top: 10px;
    /* border-top-color: #1ab33e; */
}

.heroText77 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    padding: 9px 10px;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 4;
}

.heroText1 {
    width: 100%;
}

.dav {
    color: #fff !important
}

.heroText2 {
    color: #fff;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 60px;
    font-weight: 700;

}

.WelcomePageP {
    display: flex;
}

.WelcomePageP {
    width: 50%;

}

.theyAre {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.theyAre1 {
    width: 48%;
}

.heyImage {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.theyAre2 {
    height: 450px;
}

.take2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
    margin-bottom: 20px;
}

.take3 {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 10px;
    font-family: "Lato", sans-serif !important;
    /* font-family: 'open sans' !important; */
    line-height: 1.7 !important;
    text-align: justify !important;
}

.place2 {
    display: flex;
    margin-top: 20px;
}

.place3 {
    width: 50%;

}

.study4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.learnM {
    margin-top: 20px;
    padding: 8px 10px;
    background-color: #60744b;
    color: #fff;
    font-size: 16px;
    width: 150px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}

.demPY {
    color: #60744b;
}

.learnM:hover {
    background-color: #000;
}


.bigDIV {
    width: 100%;

    /* background-color: #000000; */
    /* background-color: #0093E9; */
    /* background-image: linear-gradient(160deg, #d3efe6 0%, #80bca8 100%); */
        background-image: linear-gradient(160deg, #55977b 0%, #5d947d 100%);
    /* background-image: linear-gradient(160deg, #ffffff 0%, #e6f9f4 100%); */
    /* background-image: linear-gradient(160deg, #afe7cb42 0%, #6eaf8d 100%); */
    position: relative;
    padding: 20px 10px;
}

.OurMini {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin: 25px 0 5px 0;
    color: #ffffff
}

.ImgLogo {
    width: 50px;
    height: 50px;
}

.lokolo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.MiniR {
    width: 24%;
    /* border:1px solid #000; */
    border-radius: 6px;
    flex-grow: 24%;
    flex-basis: 24%;
    /* From https://css.glass */
    background:inherit;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgb(85 151 123);
    /* background-color: #000;
    background: rgb(74, 172, 100); */
    /* background: linear-gradient(90deg, rgb(148 209 170 / 28%) 0%, rgb(213 233 225 / 31%) 35%, rgb(168 219 186 / 46%) 70%, rgb(147 191 156) 100%); */

    color: #fff;
    background-color: inherit;
    /* box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px; */
}

.OurMini2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.OurMini1 {
    height: 150px
}

.listenB {
    font-size: 54px;
    font-weight: 700;
    text-align: center;
    color: #fff
}

.kli {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.real1 {
    color: #000;
    text-align: center;
}

.real12 {
    padding: 14px 12px;
    background-color: inherit;
    cursor: pointer;
    color: #f3f1f1;
        background-color: #35604e;
        /* border: 1px solid #0c0d0d; */
        box-shadow: 0px 8px 26px 2px #4b7664;
    font-weight: 600;
    border-radius: 34px;
    width: 200px;
    margin: 15px auto 0 auto
}


.real14 {
    text-align: center;
    color: #dcebe4;
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.5px;
}

.NeEven {
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    padding-bottom: 30px;
}
.ImgLogoLL{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.lllM1 {
    width: 250px;
    cursor: pointer;
    background-color: #487d67;
    padding-bottom: 10px;
    height: auto;
    border-radius: 8px;
     border: 1px solid #5b8f79;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: all ease;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
}

.loo {
    width: 98% !important;
    cursor: pointer;
    background-color: inherit;
    padding-bottom: 10px;
    height: auto;
    border-radius: 8px;
        border: 2px solid rgb(85 151 123);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: all ease;
    /* overflow: hidden; */
}

.lllM1:hover {
    transform: translateY(2px);
}

.lllM2 {
    color: #6bf5bc;
    padding: 15px 10px 0px 10px;

}

.cardTheme {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    margin-top: 10px;
    text-transform: uppercase;
}

.namePastor {
    color: #e1dddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 500;
    padding: 5px
}

.LNPM {
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}

.HECT {
    text-align: center;
    width: 70%;
    margin: 0 auto 20px auto;
}

.lllM {
    height: 200px;
    padding: 5px
}

.jpl {
    width: 100%;
    height: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.jpl5 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border:2px solid #55977b;
}

.giveLet {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px 10px
}
.letGive1{
    /* width:70%; */
}

.letGive {
    /* width: 30% */
    /* border-radius: 50%; */
}

.testName {
    font-size: 22px;
    font-weight: 600;
    color: #95dfbf;

}

.Members {
    font-size: 16px;
    color: #61b793;
    font-weight: 500;
}

.loremT {
    color: #fff;
    /* white-space: nowrap; */
    /* width:95%; */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    /* width:150px; */

}

.opOp {
    padding: 20px 0px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.guh {
    padding: 15px;
    text-align: center;
}

.OurMini3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;

}

.OurMini3B {
    color: #000
}

.OurMini4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.OurMini5 {
    padding: 5px 10px;
    border-radius: 6px;
    background-color: #60744b;
    color: #fff;
    width: 100px;
    text-align: center;
    margin-top: 15px;
}

.EmeWE {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.RM2 {
    width: 100px;
    margin: 2px auto 15px auto;
    display: flex;
    gap: 6px;
    /* margin-bottom: 5px; */
}

.RM3 {
    width: 50%;
    border-bottom: 3px solid #4f9f6f;

}

.textPad98 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    padding: 2px 10px;
    /* color:#257639 */
}

.funUnit {
    display: flex;
    gap: 10px;
    padding: 10px 10px
}

.funUnitA,
.funUnitB {
    width: 50%;
}

.carousel-button-group {
    position: absolute;
    right: 6%;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.funUnitB {
    padding-top: 20px;
}

.postKin {
    padding: 7px 10px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    cursor: pointer;
}

.react-multi-carousel-list {
    padding-bottom: 40px;
}

.react-multi-carousel-dot-list {
    bottom: 10px !important;
    z-index: 1500;

}

.react-multi-carousel-dot button {

    width: 18px !important;
    height: 9px !important;
    border-radius: 5px !important;
    position: relative !important;
    z-index: 19 !important;
}

/* .loo:before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: -17px;
    border-top: 25px solid #29D18B;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: rotate(45deg);} */
.loo:before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: -17px;
    border-top: 25px solid rgb(85 151 123);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: rotate(45deg);
}

/* .loo:after {
    content: "";
    position: absolute;
    top: -4px;
    left: -17px;
    border-top: 25px solid #29D18B;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
  
    transform: rotate(135deg);
} */
@media(max-width:768px) {
    .heroText2 {
        font-size: 32px;
        width: 100%;
        padding: 2px 5px;

    }

    /* .carousel-button-group{
        right:
    } */
    .lllM1 {
        width: 98%
    }
    .lllM{
        height: 240px;
    }

    .ImgLogo {
        width: 30px;
        height: 30px;
    }

    .lokolo {
        gap: 5px
    }

    .giveLet {
        flex-direction: column;
    }

    .HECT {
        width: 100%;
    }

    .youReM {
        padding-left: 10px;
        padding-bottom: 20px;
    }

    .LNPM {
        font-size: 28px;
    }

    .EmeWE {
        flex-direction: column;
        padding: 0 20px;
        display: none;
    }

    .kli {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }

    .heroText {

        top: 70%;

    }


    .MiniR {
        width: 100%;
        /* border:1px solid #000; */
        border-radius: 6px;
        flex-grow: 100%;
        flex-basis: 100%;
    }

    .addMiniR {
        margin-bottom: 15px;
    }

    .addMiniRB {
        margin-top: 15px;
    }

    .take2 {
        margin-top: 15px;

        font-size: 24px;

        line-height: 25px;
        margin-bottom: 15px;

    }

    .theyAre {
        flex-direction: column-reverse;
    }

    .WPI2 {
        font-size:28px; 
         max-width: 100%;


    }

    .youFirst {
        padding: 2px 10px 10px 10px;
        margin-top: 10px;
        position: relative;
        z-index: 30;

    }

    .WelcomePage {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        padding: 5px 10px;
    }

    .theyAre1 {
        width: 100%;
    }

    .listenB {
        font-size: 28px;

    }

    .bigDIV {

        height: auto;
        padding: 40px 10px;

    }
}

@media(min-width:769px) {
    .funUnit {
        display: none;
    }
}



@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}