*{
 margin: 0;
  padding:0;
  box-sizing: border-box;

}
body{
    /* background-color: #60744b; */
      /* background-color: #60744b73; */
      color:#fff;
      /* background-image: linear-gradient(0deg, #beefdcb5 0, #7ca997) */
            /* background-image: linear-gradient(0deg, #c3ebdb 0, #45d7809e) */
      /* overflow-x: hidden !important; */
      background-image: linear-gradient(0deg, #396c57 0 , #2d4c3e);
      /* background-color: #e1e1e2; */
      /* background-image: linear-gradient(0deg, #1a1e28 0 #2d4c3e 0, #50aa84); */
}